* {
    font-family: Verdana, 'Trebuchet MS', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgb(255,255,255);
    width: 100%;
    box-shadow: 0 12px 24px rgba(0,0,0,0.09);
    z-index: 10;
}

button.main-button__primary {
     background: rgb(2, 86, 254);
     color: rgb(255, 255, 255);
     border: none;
     padding: 10px 20px;
     border-radius: 0.25rem;
     font-size: 1rem;
     cursor: pointer;
     transition: all 0.2s ease-in-out;
}

button.main-button__secondary {
    color: rgb(2, 86, 254);
    border: 1px solid rgb(2, 86, 254);
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}